@using Microsoft.AspNetCore.Components.Authorization
@using TwitchManager.Auth
@using TwitchManager.Components.Abstractions
@using TwitchManager.Helpers

@inherits BaseComponent

@inject TwitchAuthUrlBuilder TwitchAuthUrlBuilder

<RadzenHeader>
    <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
        <div class="logo-container">
            <a href="/clips" class="text-decoration-none d-flex align-items-end">
                <img src="img/logo.png" height="35" /><span>witch Manager</span>
            </a>

        </div>
        <RadzenSidebarToggle Click="@(() => sidebar1Expanded = !sidebar1Expanded)"/>
        <AuthorizeView Context="auth">
            <Authorized>
                <div class="w-100 d-flex align-items-center justify-content-end py-3 pe-3">
                    <img src="@auth.User.GetProfileImageUrl()" class="profile-logo me-2" />
                    <div>
                        @auth.User.GetUsername()
                        <small class="user-badge-id">@auth.User.GetUserTwitchId()</small>
                    </div>
                    <a href="/settings" class="text-decoration-none mx-3">
                        <i class="ph ph-gear"></i>
                    </a>
                    <a href="/shutdown" class="text-decoration-none">
                        <i class="ph ph-power"></i>
                    </a>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="w-100 d-flex align-items-center justify-content-end py-3 pe-3">
                    <a href="@loginUrl" class="btn btn-primary d-flex align-items-center justify-content-center white" style="color: #FFFFFF !important">

                        @Localizer["LoginWithTwitchLabel"] <i class="ph ph-twitch-logo ms-1"></i>
                    </a>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </RadzenStack>
</RadzenHeader>
<RadzenSidebar @bind-Expanded="@sidebar1Expanded" @bind-Responsive="responsive">
    <div class="col-auto">
        <NavMenu />
    </div>
</RadzenSidebar>

@code {
    bool sidebar1Expanded = false;
    bool responsive = false;
    private string loginUrl = "";

    protected override void OnInitialized()
    {
        loginUrl = TwitchAuthUrlBuilder.BuildAuthUrl();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            responsive = true;
        }
        base.OnAfterRender(firstRender);
    }
}